In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
dataset = pd.read_csv(r'C:\Users\RUTUJA\Documents\Heart_Attack_ML\heart.csv')

In [3]:
type(dataset)

pandas.core.frame.DataFrame

In [4]:
dataset.shape

(303, 14)

In [5]:
dataset.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [6]:
dataset.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [8]:
dataset["target"].describe()

count    303.000000
mean       0.544554
std        0.498835
min        0.000000
25%        0.000000
50%        1.000000
75%        1.000000
max        1.000000
Name: target, dtype: float64

In [9]:
dataset["target"].unique()

array([1, 0], dtype=int64)

In [10]:
print(dataset.corr()["target"].abs().sort_values(ascending=False))

target      1.000000
exang       0.436757
cp          0.433798
oldpeak     0.430696
thalach     0.421741
ca          0.391724
slope       0.345877
thal        0.344029
sex         0.280937
age         0.225439
trestbps    0.144931
restecg     0.137230
chol        0.085239
fbs         0.028046
Name: target, dtype: float64

In [11]:

target_temp = dataset.target.value_counts()
print(target_temp)

target
1    165
0    138
Name: count, dtype: int64

In [12]:
from sklearn.model_selection import train_test_split
predictors = dataset.drop("target", axis=1)
target=dataset["target"]
Xtrain,Xtest,Ytrain,Ytest=train_test_split(predictors,target,test_size=0.20,random_state=42)

In [13]:
Xtrain.shape

(242, 13)

In [14]:
Xtest.shape

(61, 13)

In [15]:
Ytrain.shape

(242,)

In [16]:
Ytest.shape

(61,)

In [17]:
from sklearn.metrics import accuracy_score

In [18]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression(max_iter=1000)
lr.fit(Xtrain,Ytrain)
y_pred_lr=lr.predict(Xtest)

In [19]:
y_pred_lr.shape

(61,)

In [20]:
score_nb = round(accuracy_score(y_pred_lr,Ytest)*100,2)
print(score_nb)

88.52

In [21]:
import xgboost as xgb
xgb_model = xgb.XGBClassifier(objective="binary:logistic",random_state=42)
xgb_model.fit(Xtrain,Ytrain)
y_pred_xgb=xgb_model.predict(Xtest)

In [22]:
score_xgb=round(accuracy_score(y_pred_xgb,Ytest)*100,2)
print(score_xgb)

81.97

In [23]:
Xtest[0:2]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
179,57,1,0,150,276,0,0,112,1,0.6,1,1,1
228,59,1,3,170,288,0,0,159,0,0.2,1,0,3

In [24]:
feature_names=Xtrain.columns

In [25]:
user_input=[57,1,0,150,276,0,0,112,1,0.6,1,1,1]

In [78]:
user_input1=pd.DataFrame([user_input], columns=feature_names)

In [80]:
prediction=lr.predict(user_input_df1)
print(prediction)

[0]

In [82]:
import pickle

In [108]:
filename1='trainedHeart_model.sav'
pickle.dump(lr,open(filename1, 'wb'))

In [110]:
loaded_modelH= pickle.load(open("trainedHeart_model.sav",'rb'))

In [112]:
user_input2=[57,1,0,150,276,0,0,112,1,0.6,1,1,1]
user_input2=pd.DataFrame([user_input2], columns=feature_names)

In [114]:
prediction=loaded_modelH.predict(user_input2)
print(prediction)

[0]